<?xml version="1.0" encoding="utf-8"?>
<Menu>
	<MenuItem label="File">
		<MenuItem separator="true"/>
		<MenuItem label="Exit" shortCutKey="Ctrl+X" mnemonicIndex="1" select="onExitItemClick"/>
	</MenuItem>
	<MenuItem label="Edit" />
	<MenuItem label="Window">
		<MenuItem label="Themes" dataProvider="themes" dataField="path" labelField="label" select="onThemesItemClick"/>
		<MenuItem separator="true"/>
		<MenuItem label="Preferences..." mnemonicIndex="0" select="onPreferencesItemClick"/>
	</MenuItem>
	<MenuItem label="Help">
		<MenuItem label="Help" shortCutKey="Ctrl+Shift+H" mnemonicIndex="0" select="onHelpItemClick"/>
		<MenuItem label="Update FxMOD" shortCutKey="Ctrl+Shift+U" select="onUpdateItemClick"/>
		<MenuItem separator="true"/>
		<MenuItem label="About..." mnemonicIndex="0" select="onAboutItemClick"/>
	</MenuItem>
</Menu>