<?xml version="1.0" encoding="utf-8"?>
<Menu>
	<MenuItem label="File">
		<MenuItem label="Exit" shortCutKey="Ctrl+X" mnemonicIndex="1" separatorBefore="true"/>
	</MenuItem>
	<MenuItem label="Help">
		<MenuItem label="Help" shortCutKey="Ctrl+Shift+H" mnemonicIndex="0"/>
		<MenuItem label="About..." mnemonicIndex="0"/>
	</MenuItem>
</Menu>